In [1]:
import os
import sys
sys.path.insert(0, os.path.abspath('../qbiome'))

from data_formatter import DataFormatter
from quantizer import Quantizer

In [2]:
dirname = '../../infbiome_/data2/'
data = dirname + 'SamplesByMetadata_otuDADA2_EMP_10249_ECAM_RSRC_TaxaRelativeAbundance.csv'
meta = dirname + 'SamplesByMetadata_otuDADA2_EMP_10249_ECAM_RSRC_Characteristics.csv'

In [3]:
formatter = DataFormatter()
quantizer = Quantizer()

In [4]:
data = formatter.load_data(data, meta)

There are 29 unique biomes and 1216 unique samples
There are 311 unique days
There are 99 unique weeks

In [5]:
data.head()

          sample_id subject_id          variable  week     value
7   MBSMPL0020-6-10          1  Actinobacteriota    27  0.366650
8   MBSMPL0020-6-10          1      Bacteroidota    27  0.507248
9   MBSMPL0020-6-10          1  Campilobacterota    27  0.002032
10  MBSMPL0020-6-10          1  Desulfobacterota    27  0.005058
11  MBSMPL0020-6-10          1        Firmicutes    27  0.057767

In [6]:
quantized = quantizer.quantize_df(data)

In [7]:
quantized.head()

,Acidobacteriota_1,Acidobacteriota_9,Acidobacteriota_27,Acidobacteriota_31,Acidobacteriota_35,Actinobacteriota_1,Actinobacteriota_2,Actinobacteriota_3,Actinobacteriota_5,Actinobacteriota_6,...,unclassified_Bacteria_10,unclassified_Bacteria_22,unclassified_Bacteria_27,unclassified_Bacteria_34,unclassified_Bacteria_36,unclassified_Bacteria_40,unclassified_Bacteria_57,unclassified_Bacteria_79,unclassified_Bacteria_80,unclassified_Bacteria_88
0,NaN,NaN,NaN,NaN,NaN,A,NaN,E,NaN,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,E,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,D,NaN,NaN,B,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN